section#our-project {
	padding: 100px 0;
	h2,
	h4 {
		text-align: center;
	}
	.buttons {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	.cards {
		margin-top: 50px;
		display: grid;
		/* grid-template-columns: repeat(3, 1fr); */
		grid-template-columns: 1fr 1fr 1fr;
		gap: 3%;

		.card {
			border-radius: 6px;
			overflow: hidden;
			box-shadow: 2px 2px 20px rgb(135, 135, 135);
			img {
				width: 100%;
			}
			.card-body {
				padding: 20px;
				h3,
				p {
					margin: 0.5rem 0;
				}
			}
		}
	}
}
