body {
	margin: 0;
}

#dashboard {
	#dashboard-card {
		/* background-color: aqua; */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.main-grid {
		/* Box-sizing nustato, ar paddingas yra įskaičiuojamas į elemento aukštį */
		box-sizing: border-box;
		padding: 1rem 10px;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		gap: 10px 20px;
		/* 1+1+2 = 4  */
	}
	.item-1 {
		/* background-color: yellow; */
		/* grid-row-start, grid-row-end, grid-column-start, grid-column-end  */
		/* grid-row-start: 3;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 3; */

		/* grid-row: 3 / 5;
		grid-column: 1 / 3; */

		/* grid-row-start, grid-column-start, grid-row-end, grid-column-end */
		grid-area: span 4 / span 1;

		overflow-y: auto;
	}
	.item-2 {
		/* background-color: rgb(0, 255, 17); */
		grid-area: 2 / 2 / 5 / 3;
	}
	.item-3 {
		/* background-color: rgb(0, 195, 255); */
		grid-area: 5 / 2 / 6 / 3;
	}
	.nav {
		grid-column: span 2;
	}

	.item {
		padding: 1rem;
	}
	@media only screen and (max-width: 800px) {
		.main-grid {
			grid-template-rows: repeat(7, 1fr);
			height: auto;
			max-height: 2500px;
		}
		.item-1 {
			grid-area: span 3 / span 2;
		}
		.item-2 {
			grid-area: span 2 / span 2;
		}
		.item-3 {
			grid-area: span 1 / span 2;
		}
		.nav {
			grid-column: span 2;
		}
	}

	.advanced-parameter-row {
		color: rgb(60, 60, 60);
		font-style: italic;
		display: flex;
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid rgb(210, 210, 211);
		justify-content: space-between;
		margin-bottom: 1rem;
	}
}
